# Ignore project files for Jetbrains IDEs.
.idea

# Ignore binaries.
/bin

# Ensure we ignore composer.lock as this distribution base will always need to install with what's defined
# in composer.json.
composer.lock

# Ignore docroot completely.
/docroot

# Ignore non-custom parts of Drupal.
/docroot/core
/docroot/modules/contrib
/docroot/profiles/contrib
/docroot/themes/contrib
/docroot/sites/default/files

# Ignore Composer-managed dependencies.
vendor/
