$orange: rgb(252, 186, 99);
$pale-blue: rgb(206, 235, 240);
$blue-text: rgb(0, 176, 216);
$dark-blue-text: rgb(0, 122, 194);
$navy-text: rgb(24, 59, 112);
$light-grey: rgb(128, 128, 128);
$news-grey: rgb(88, 89, 91);
$news-date-grey: rgb(147, 149, 152);
$dark-grey: rgb(65, 64, 66);
$body_bg: #E7E7E7;
$red: rgb(188, 0, 0);

$max-logo-width: 180px;

$medium-max: 760px;
$skeleton-small-max: 549px;
$large-min: 759px;

$table-border-width: 3px;